#full-screen-headline {
    width: 100%;
    height: 200px;
    min-height: 100%;
    text-align: center;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    background: url("../image/index/I0001.png") 50% 0;
    background-size: 100%;
}
#full-screen-headline > #space-taker {
    height: 30%;
}

#container {
    padding: 0 30px;
    line-height: 1.5;
}
#container > blockquote {
    font-size: 15px;
}
footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.illustration {
    max-width: 95%;
    max-height: 500px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

p {
    text-indent: 2em;
}

blockquote > p {
    text-indent: 0;
}

em > p {
    text-indent: 0;
}